@import "~/styles/variables.scss";

.main {
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 0.825rem 0;
}

.navBrandContainer {
    margin-right: 4rem;
    min-height: 40px;
    min-width: 146px;
}

.link {
    text-decoration: none;
    color: $primary-main;
    font-weight: 500;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    width: 100%;
    text-align: left;
}
