@import "~/styles/variables.scss";

.row {
    display: flex;
    align-items: center;
}

.button {
    &:first-child {
        margin-right: 2rem;
    }
}

.textWrapper {
    margin-bottom: 1.5rem;
}

.text {   
    color: $primary-black;
    font-weight: 700;
    font-size: 2.625rem; 
    line-height: 3rem;
}